.loadingPage-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  img {
    width: 108px;
    height: 108px;
  }
}
