<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331997430544-rcdsplris0ah3cq8eam4o2nlm1sappam.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331997430544-rcdsplris0ah3cq8eam4o2nlm1sappam</string>
	<key>API_KEY</key>
	<string>AIzaSyCQgBOBrhFG3t0-eYvpGowrfGIyMrnoftE</string>
	<key>GCM_SENDER_ID</key>
	<string>331997430544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daegubukgu.donations</string>
	<key>PROJECT_ID</key>
	<string>su-2021-e740a</string>
	<key>STORAGE_BUCKET</key>
	<string>su-2021-e740a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331997430544:ios:c09c3e12645daac9095b95</string>
</dict>
</plist>